tensorflow
keras
opencv-python-headless
numpy
streamlit
streamlit-chat 
langchain
google-generativeai
python-dotenv
Pillow
langchain-google-genai 
langchain-community
langchain-core
langchain-groq 0.1.9
